<section>
  <div class="container-fluid">
    <!--Start: Studio-Details-Form -->
    <div class="studio-details">
      <div class="studio_heading">
        <h2 class="text-primary">studio details</h2>
      </div>
      <!-- Start:Form With Validation -->
      <div class="studioForm">
        <form [formGroup]="studioProfileForm" (ngSubmit)="submit()">
          <!-- Start:First-row of input field -->
          <div class="row mb-4">
            <div class="col-lg-6 col-sm-12">
              <div class="form-outline">
                <!-- Start:StudioName input field -->
                <label class="form-label">Studio name</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="studioName"
                  [ngClass]="{'is-invalid': validator['studioName'].invalid &&  (isSubmitted || validator['studioName'].dirty || validator['studioName'].touched), 'is-valid': validator['studioName'].valid &&  (isSubmitted || validator['studioName'].dirty || validator['studioName'].touched)}"
                  placeholder="Studio Name" />
                <div
                  *ngIf="validator['studioName'].invalid &&  (isSubmitted || validator['studioName'].dirty || validator['studioName'].touched)">
                  <span class="text-danger" *ngIf="validator['studioName'].errors?.['required']">This field is
                    required</span>
                  <span class="text-danger" *ngIf="(validator['studioName'].errors?.['maxlength'])">Studio name must be
                    less than 30
                    characters</span>
                  <span class="text-danger" *ngIf="validator['studioName'].errors?.['pattern']">Enter alphanumeric and @$!_&
                    only</span>
                </div>
                <!-- End:StudioName input field -->
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-outline">
                <!-- Start:Address input field -->
                <label class="form-label">Address</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="studioAddress" placeholder="Address" [ngClass]="{'is-invalid': validator['studioAddress'].invalid &&  (isSubmitted || validator['studioAddress'].dirty || validator['studioAddress'].touched), 'is-valid': validator['studioAddress'].valid &&  (isSubmitted || validator['studioAddress'].dirty || validator['studioAddress'].touched)}"/>
                <div
                  *ngIf="validator['studioAddress'].invalid &&  (isSubmitted || validator['studioAddress'].dirty || validator['studioAddress'].touched)">
                  <span class="text-danger" *ngIf="validator['studioAddress'].errors?.['required']">This field is
                    required</span>
                  <span class="text-danger" *ngIf="(validator['studioAddress'].errors?.['maxlength'])">Studio name must
                    be
                    less than 250
                    characters</span>
                  <span class="text-danger" *ngIf="validator['studioAddress'].errors?.['pattern']">Enter alphanumeric and (),.-&
                    only</span>
                </div>
                <!-- End:Address input field -->
              </div>
            </div>
          </div>
          <!-- Start:Second-row of input field -->
          <div class="row mb-4">
            <div class="col-lg-6 col-sm-12">
              <div class="form-outline">
                <!-- Start:StudioDescription input field -->
                <label class="form-label">Studio description</label><span class="text-danger">*</span>
                <textarea class="form-control" placeholder="Studio Description" formControlName="studioDesc" [ngClass]="{'is-invalid': validator['studioDesc'].invalid &&  (isSubmitted || validator['studioDesc'].dirty || validator['studioDesc'].touched), 'is-valid': validator['studioDesc'].valid &&  (isSubmitted || validator['studioDesc'].dirty || validator['studioDesc'].touched)}"></textarea>
                <div
                  *ngIf="validator['studioDesc'].invalid &&  (isSubmitted || validator['studioDesc'].dirty || validator['studioDesc'].touched)">
                  <span class="text-danger" *ngIf="validator['studioDesc'].errors?.['required']">This field is
                    required</span>
                  <span class="text-danger" *ngIf="(validator['studioDesc'].errors?.['maxlength'])">Studio description
                    must be
                    less than 250
                    characters</span>
                </div>
                <!-- End:StudioDescription input field -->
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-outline">
                <!-- Start:StudioEquipment input field -->
                <label class="form-label">Hardware and equipment details</label><span class="text-danger">*</span>
                <textarea class="form-control" placeholder="Hardware & Equipment"
                  formControlName="studioEquipment" [ngClass]="{'is-invalid': validator['studioEquipment'].invalid &&  (isSubmitted || validator['studioEquipment'].dirty || validator['studioEquipment'].touched), 'is-valid': validator['studioEquipment'].valid &&  (isSubmitted || validator['studioEquipment'].dirty || validator['studioEquipment'].touched)}"></textarea>
                <div
                  *ngIf="validator['studioEquipment'].invalid &&  (isSubmitted || validator['studioEquipment'].dirty) || validator['studioEquipment'].touched">
                  <span class="text-danger" *ngIf="validator['studioEquipment'].errors?.['required']">This field is
                    required</span>
                  <span class="text-danger" *ngIf="(validator['studioEquipment'].errors?.['maxlength'])">Hardware and
                    Equipment details must be
                    less than 1000
                    characters</span>
                    <span class="text-danger" *ngIf="validator['studioEquipment'].errors?.['pattern']">Enter alphanumeric and (),.-&
                      only</span>
                </div>
                <!-- End:StudioEquipment input field -->
              </div>
            </div>
          </div>
          <!-- End:Second-row of input field -->

          <!-- Start:Third-row of input field -->
          <div class="row mb-4">
            <div class="col-lg-4 col-sm-12">
              <div class="form-outline">
                <!-- Start:Country input field -->
                <label class="form-label">Select Country</label><span class="text-danger">*</span>
                <select class="form-select" aria-label="Default select example" formControlName="country"
                  (change)="getStatebyCountry($event)" [ngClass]="{'is-invalid': validator['country'].invalid &&  (isSubmitted || validator['country'].dirty || validator['country'].touched), 'is-valid': validator['country'].valid &&  (isSubmitted || validator['country'].dirty || validator['country'].touched)}">
                  <option selected>Select Country</option>
                  <option *ngFor="let data of countries" [value]="data.id">{{data.name}}</option>
                </select>
                <div
                *ngIf="validator['country'].invalid &&  (isSubmitted || validator['country'].dirty || validator['country'].touched)">
                <span class="text-danger" *ngIf="validator['country'].errors?.['required']">This field is
                  required</span>
                  </div>
                <!-- <div for="state-file" class=" w-100">
                  <div class="form-control  d-flex justify-content-between">
                      <img src="../../../assets/images/Frame 5.png" alt="">
                  </div> -->
                <!-- </div> -->
                <!-- End:Country input field -->
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="form-outline">
                <!-- Start:City input field -->
                <label class="form-label">Select State</label><span class="text-danger">*</span>
                <!-- <ng-select [items]="tags" bindLabel="name" placeholder="Select Tags" (change)="getCityByStateId($event)" [ngClass]="{'is-invalid': validator['state'].invalid &&  (isSubmitted || validator['state'].dirty || validator['state'].touched), 'is-valid': validator['state'].valid &&  (isSubmitted || validator['state'].dirty || validator['state'].touched)}"
                    formControlName="state">
                </ng-select> -->
                <select class="form-select" aria-label="Default select example" formControlName="state"
                  (change)="getCityByStateId($event)" [ngClass]="{'is-invalid': validator['state'].invalid &&  (isSubmitted || validator['state'].dirty || validator['state'].touched), 'is-valid': validator['state'].valid &&  (isSubmitted || validator['state'].dirty || validator['state'].touched)}">
                  <option selected>Select State</option>
                  <option *ngFor="let data of allState" [value]="data.id">{{data.name}}</option>
                </select>
                <div
                *ngIf="validator['state'].invalid &&  (isSubmitted || validator['state'].dirty) || validator['state'].touched">
                <span class="text-danger" *ngIf="validator['state'].errors?.['required']">This field is
                  required</span>
                  </div>
                <!-- End:City input field -->
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="form-outline">
                <!-- Start:State input field -->
                <label class="form-label">Select City</label><span class="text-danger">*</span>
                <select class="form-select" aria-label="Default select example" formControlName="city"  [ngClass]="{'is-invalid': validator['city'].invalid &&  (isSubmitted || validator['city'].dirty || validator['city'].touched), 'is-valid': validator['city'].valid &&  (isSubmitted || validator['city'].dirty || validator['city'].touched)}">
                  <option selected>Select City</option>
                  <option *ngFor="let data of allCity">{{data.cityName}}</option>
                </select>
                <div
                  *ngIf="validator['city'].invalid &&  (isSubmitted || validator['city'].dirty) || validator['city'].touched">
                  <span class="text-danger" *ngIf="validator['city'].errors?.['required']">This field is
                    required</span>
                    </div>
                <!-- End:State input field -->
              </div>
            </div>
          </div>
          <!-- End:third-row of input field -->

          <!-- Start:Fourth-row of input field -->
          <div class="row mb-4">
            <div class="col-lg-6 col-sm-12">
              <div class="form-outline">
                <div class="row">
                  <!--Start: from days to days -->
                  <div class="col-12 col-lg-6">
                    <div class="mb-3">
                      <label class="form-label fw-bold">From <span class="text-danger">*</span>
                      </label>
                      <select class="form-select" (change)="onweekDays1($event)" formControlName="weekdays1">
                        <option value="" disabled selected hidden>From</option>
                        <option *ngFor="let weekday1 of weekdays1" [value]="weekday1.dayId">{{weekday1.day}}</option>
                      </select>
                      <div
                      *ngIf="validator['weekdays1'].invalid &&  (isSubmitted || validator['weekdays1'].dirty) || validator['weekdays1'].touched">
                      <span class="text-danger" *ngIf="validator['weekdays1'].errors?.['required']">This field is
                        required</span>
                        </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="mb-3">
                      <label class="form-label fw-bold">To <span class="text-danger">*</span>
                      </label>
                      <select class="form-select" (change)="onweekDays2($event)" formControlName="weekdays2">
                        <option value="" disabled selected hidden>To</option>
                        <option *ngFor="let weekday2 of weekdays2" [value]="weekday2.dayId" [disabled]="weekdays1Id == weekday2.dayId">{{weekday2.day}}</option>
                      </select>
                      <div
                      *ngIf="validator['weekdays2'].invalid &&  (isSubmitted || validator['weekdays2'].dirty) || validator['weekdays2'].touched">
                      <span class="text-danger" *ngIf="validator['weekdays2'].errors?.['required']">This field is
                        required</span>
                        </div>
                    </div>
                  </div>
                     <!--End: from days to days -->
                </div>
              </div>
              <!-- End:State input field -->
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-outline">
                <!-- Start:State input field -->
                <div class="row">
                  <!-- from -->
                  <div class="col-12 col-lg-6">
                    <div class="mb-3">
                      <label class="form-label fw-bold" for="time">From <span class="text-danger">*</span>
                      </label>
                      <select id="time" class="form-select">
                        <option value="" disabled selected hidden>From</option>
                      </select>
                    </div>
                  </div>
                  <!-- to -->
                  <div class="col-12 col-lg-6">
                    <div class="mb-3">
                      <label class="form-label fw-bold" for="time">To <span class="text-danger">*</span>
                      </label>
                      <select id="time" class="form-select">
                        <option value="" disabled selected hidden>To</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End:Fourth-row of input field -->


          <div class="mb-4">
            <button type="submit" class="btn btn-primary me-3">Submit</button>
            <button type="btn" class="btn btn-secondary" (click)="reset()">Cancle</button>
          </div>
        </form>
      </div>
      <!-- End:Form With Validation -->
    </div>
    <!--End: Studio-Details-Form -->
  </div>
</section>



   
